<!-- <!DOCTYPE html>
<html>
  <body>
    <form method="POST">
      Title:  <input type="text" name="movie_title"><br>
      Runtime: <input type="text" name="movie_runtime"><br>
      Rating: <input type="text" name="movie_rating"><br>
      <input type="submit" value = "Go Movie!!">
    </form>
  </body>

</html> -->

<!DOCTYPE html>
<html>
  <body>
    <form method="POST">
      Email:  <input type="text" name="email"><br>
      Password: <input type="text" name="password"><br>
      First Name: <input type="text" name="first_name"><br>
      Last Name:  <input type="text" name="last_name"><br>
      Profile: <input type="text" name="prof_pic"><br>
      Posts: <input type="text" name="user_post"><br>
      <input type="submit" value = "Welcome to Facebook">
    </form>
  </body>

</html>
